*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    width: 90%;
    margin: 10px auto;
    color: gray;
}

a{
    cursor: pointer;
    font-size: 0.8rem;
}

a.active{
    font-weight: 600;
    color: #000;
}

main{
    height: 100vh;
}

main div{
    width: 90%;
    margin: 20px auto;
    height: 100%;
}

main ul{
    gap: 0;
    width: 100%;
}
main ul li{
    color: dodgerblue;
    padding: 20px;
    border-bottom: 2px solid gray;
}

main ul li:last-child{
    flex-grow: 12;
}

li.active{
    border: none;
    border-right: 2px solid gray;;
    border-left: 2px solid gray;
    border-top: 2px solid gray;
    color: #000;
}

main .main_description{
    height: 100%;
    margin: 0;
    width: 100%;
}